.ql-snow{
    s{
      text-decoration: line-through;
    }
    u{
      text-decoration: underline;
    }
    strong{
      font-weight: bold;
    }
  }
  .workGuidesWrap {
    position: fixed;
    left: calc(-70% - 2px);
    top: 15%;
    width: 70%;
    transition: left 0.5s;
    height: 70%;
    z-index: 10000;
    background-color: #fff;
    border: 1px solid #ec395a;
      box-shadow: 0 0 5px 1px #ccc;
  }
  .workGuidesWrap .workGuidesModal {
    overflow: hidden;
  }
  .workGuidesOpen {
    left: 0px;
  }
  .workGuidesOpen .workGuidesModal {
    overflow: auto;
    height: 100%;
  }
  .workGuidesBody {
    padding: 20px 10px;
  }
  .workGuidesContent img {
    width: 100%;
  }
  .workGuidesBtn {
    position: absolute;
    right: -35px;
    top: -1px;
    background-color: #ec395a;
    color: #fff;
    width: 25px;
    padding: 7px 5px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 19px;
    cursor: pointer;
  }
  .workGuidesBtn .icon-workGuidesBtn {
    font-size: 22px;
  }
  .tree-children{
    overflow: inherit !important;
  }
  .tree-closed{
    overflow: hidden;
  }
  .tree{
    overflow-x: auto;
  }

  .vdr {
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    /* border: 1px solid #ebebeb; */
    //box-shadow: 0 10px 20px rgba(50,51,65,.5);
  }
  /* .vdr.active:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    outline: 1px dashed #d6d6d6;
  } */
  .vdr-stick {
    box-sizing: border-box;
    position: absolute;
    font-size: 1px;
    background: #ffffff;
    border: 1px solid #6c6c6c;
    box-shadow: 0 0 2px #bbb;
    opacity: 0;
  }
  .inactive .vdr-stick {
    display: none;
  }
  .vdr-stick-tl, .vdr-stick-br {
    cursor: nwse-resize;
  }
  .vdr-stick-tm, .vdr-stick-bm {
    left: 8px;
    cursor: ns-resize;
    width: calc(100% - 8px) !important;
  }
  .vdr-stick-tr, .vdr-stick-bl {
    cursor: nesw-resize;
  }
  .vdr-stick-ml, .vdr-stick-mr {
    top: 8px;
    cursor: ew-resize;
    height: calc(100% - 8px) !important;
  }
  .vdr-stick.not-resizable{
    display: none;
  }
  .drag{
    cursor: all-scroll;
  }

  .vdr-stick-tl, .vdr-stick-ml, .vdr-stick-bl{
    display: none
  }